<div class="sidenav">
   <div class="listgroup">
    <a routerLinkActive="active"  routerLink="/layout/employe-list">
            <mat-icon>group</mat-icon>&nbsp;
            <span [ngClass]="{item1:sidenavactive == true}">Employee list</span>
    </a>
    <a routerLinkActive="active"  routerLink="/layout/settings">
        <mat-icon>settings</mat-icon>&nbsp;
        <span [ngClass]="{item1:sidenavactive == true}">Settings</span>
    </a>
    <a routerLinkActive="active"  routerLink="/layout/dashboard">
        <mat-icon>data_exploration</mat-icon>&nbsp;
        <span [ngClass]="{item1:sidenavactive == true}">Dashboard</span>
    </a>
   </div>
</div>