<div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [stroke]="chartOptions.stroke!"
      [dataLabels]="chartOptions.dataLabels!"
      [yaxis]="chartOptions.yaxis!"
      [labels]="chartOptions.labels!"
      [legend]="chartOptions.legend!"
      [fill]="chartOptions.fill!"
    ></apx-chart>
  </div>

  <!-- [series]="series"
  [chart]="chart"
  [xaxis]="xaxis"
  [stroke]="stroke"
  [dataLabels]="dataLabels"
  [yaxis]="yaxis"
  [labels]="labels"
  [legend]="legend"
  [title]="title"
  [subtitle]="subtitle" -->