.container-fluid{
    background-image: url(../../../assets/images/homeback.png);
    height: 100%; 
    background-size: 100% 100%;
  background-position: center;
   background-repeat: no-repeat;
  //  min-height: 698px;
  //  color: white;

}
.menulogo{
  height: auto;
    width: auto;
    margin-left: 10%;
}
.recentapp{
  border: 2px solid #E5E5E5;
  width: 93%;
  margin: 2% 0% 2% 4%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.recent{
  padding: 1%;
  display: flex;
}
.recentapp h2{
  padding: 1% 0% 0% 2%;
    margin-bottom: 0%;
    font-weight: 500;
    color: #4E4D4D;
}
.recenticon{
  width: 70px;
  height: 70px;
background: white;
box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
border-radius: 7px;
margin: 1% 2%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
}
.recenticon p{
  padding-top: 10px;
  font-weight: 500;
  margin-bottom: 0px; 
}
.appicon{
  width: 95px;
  height: 95px;
background: white;
box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.25);
border-radius: 7px;
margin: 1% 2%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
}
.appicon p{
  padding-top: 10px;
  font-weight: 500;
  margin-bottom: 0px; 
}
.myapp{
  border: 2px solid #E5E5E5;
  width: 93%;
  margin: 0% 0% 0% 4%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
height: 21rem;
}
.icnimg{
  height: 30px;
  width: 30px;
}
.myapp h2{
  padding: 1% 0% 0% 2%;
    margin-bottom: 0%;
    font-weight: 500;
    color: #4E4D4D;
}
@media(max-width:768px){  
  mat-form-field{
    padding: 0% 9%;
width: 100%;
  }
}
::ng-deep .mat-form-field-underline{
  display: none;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  background: #F3F3F3;
  border-radius: 2rem !important;
}
::placeholder{
  font-size: large;
  color: rgb(43, 42, 42);
}
mat-form-field{
width: 90%;
}
::ng-deep  .mat-form-field-infix{
  bottom: 6px;
}

.right{
  border-radius: 7px;
  height: 90%;
  margin: 0% 5% 0% 0%;
  color: #1F1F1F;
  background: rgba(193, 190, 190, 0.1);
border-radius: 10px;
}

.rightcontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}
.right h1{
    margin-left: 8%;
    padding-top: 5%;
    font-weight: 500;
}

@media (min-width:200px)and (max-width:768px){
  .right{
    height: auto;
  }
 .rightcontent{
  margin-top: 2%;
 }
}
.rightcontent h2{
  padding: 0% 23%;
  text-align: center;
  font-weight: 500;
}

.message{
  background-color: #e2e8f0;
  margin: 0% 3%;
  padding: 10px;
  color: black;
  border-radius: 9px;
}
.message p{
  font-size: large;
    font-weight: 500;
}
.time{
  color: grey;
  align-items: center;
  display: flex;
}
