.container-fluid{
    background-image: url(../../../assets/images/back.png);
    height: 100%; 
    background-size: cover;
  background-position: center;
   background-repeat: no-repeat;
   color: white;

}
.menulogo{
  height: 90px;
    width: 180px;
    margin-left: 6%;
}
.form-control{
    margin-top: 1.5rem;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}
.menuitems{
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.menuitems p{
  text-align: center;
  margin-top: 20%;
}
.icnimg{
  width: 40px;
  height: 40px;
}
.item1{
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media(max-width:768px){
  
  .menuitems{
    margin-top: 4rem;
    justify-content: space-around;
  }
  mat-form-field{
    padding: 0% 9%;
  }
}
@media(max-width:992px){
  .item1{
    width: 70px;
    height: 70px;
  }
}
::ng-deep .mat-form-field-wrapper{
  padding: 0px !important;
  margin: 0px !important;
  background: white;
  border: 1px solid grey;
  border-radius: 15px 15px 15px 15px !important;
}
mat-form-field{
  width: 100%;
}
::placeholder{
  font-size: large;
  color: rgb(43, 42, 42);
}

.right{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  height: 100%;
  margin: 0% 5% 0% 15%;
}
.rightcontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}
.right h1{
    margin-left: 8%;
    margin-top: 2%;
}

@media (min-width:200px)and (max-width:768px){
  .right{
    height: auto;
  }
 .rightcontent{
  margin-top: 2%;
 }
}
.rightcontent h2{
  padding: 0% 23%;
  text-align: center;
}

.message{
  background-color: #e2e8f0;
  margin: 0% 3%;
  padding: 10px;
  color: black;
  border-radius: 9px;
}
.message p{
  font-size: large;
    font-weight: 500;
}
.time{
  color: grey;
  align-items: center;
  display: flex;
}