<div class="container-fluid">
    <div class="item_1">
        <h5><mat-icon style="font-size: 13px; padding-top: 7px;">arrow_back_ios</mat-icon> Employee details</h5> &nbsp; <h3>/ Add profile</h3>
    </div>
    <div class="item_2">
        <h2>Details</h2>
    </div>
    <div>
    <mat-horizontal-stepper labelPosition="bottom" #stepper  [selectedIndex]="stepindex">
        <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>
            <mat-step   >
                <form [formGroup]="profile">
                    <ng-template  matStepLabel >Profile</ng-template>
                    <div class="row">
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <div class="profileleft">
                                <div class="row full" >
                                    <div class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-12 name" >
                                        <div class="form-group">
                                            <mat-label>Prefix</mat-label>
                                            <select class="form-select" formControlName="prefix" >
                                                <option value="Mr">Mr</option>
                                                <option value="Ms">Ms</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Dr">Dr</option>
                                                <option value="Prof">Prof</option>
                                            </select>   
                                        </div>
                                      
                                    </div>
                                    <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 name">
                                        <div class="form-group"> 
                                            <mat-label>Full Name</mat-label>
                                            <input type="name" class="form-control" formControlName="first_name"  placeholder="">
                                            <small class="text-danger"
                                                *ngIf="profile.controls['first_name'].touched && profile.controls['first_name'].invalid">
                                                <i class="bi bi-exclamation-circle"></i>
                                                This field is required
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 name">
                                        <div class="form-group">
                                            <mat-label>Middle Name</mat-label>
                                            <input type="name" class="form-control" formControlName="middle_name" placeholder="">
                                            <small class="text-danger"
                                                *ngIf="profile.controls['middle_name'].touched && profile.controls['middle_name'].invalid">
                                                <i class="bi bi-exclamation-circle"></i>
                                                This field is required
                                            </small>
                                        </div>

                                    </div>
                                    <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 name">
                                        <mat-label>Last Name</mat-label>
                                        <div class="form-group">
                                            <input type="name" class="form-control" formControlName="last_name"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <mat-label> Email</mat-label>
                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="work_mail"
                                            placeholder="">
                                        <small class="text-danger"
                                            *ngIf="profile.controls['work_mail'].touched && profile.controls['work_mail'].invalid">
                                            <i class="bi bi-exclamation-circle"></i>
                                            This field is required
                                        </small>
                                        <small class="text-danger"*ngIf="profile.controls['work_mail'].errors &&
                                         profile.controls['work_mail'].errors['pattern']">Please Enter a valid email </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <mat-label> Birth Date</mat-label>
                                        <div class="form-group">
                                            <input type="date" class="form-control" formControlName="date_of_birth"
                                                placeholder="MM/DD/YYYY" formControlName="date_of_birth">
                                            <small class="text-danger"
                                                *ngIf="profile.controls['date_of_birth'].touched && profile.controls['date_of_birth'].invalid">
                                                <i class="bi bi-exclamation-circle"></i>
                                                This field is required
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Phone</mat-label>
                                        <div class="form-group">
                                            <input type="number" formControlName="mobile_number" class="form-control"
                                                placeholder="">
                                            <small class="text-danger"
                                                *ngIf="profile.controls['mobile_number'].touched && profile.controls['mobile_number'].invalid">
                                                <i class="bi bi-exclamation-circle"></i>
                                                This field is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Gender</mat-label>
                                        <div class="form-group">
                                            <select class="form-select" formControlName="gender">
                                                <option value="MALE">Male</option>
                                                <option value="FEMALE">Female</option>
                                                <option value="OTHER">Female</option>
                                            </select>
                                            <small class="text-danger"
                                                *ngIf="profile.controls['gender'].touched && profile.controls['gender'].invalid">
                                                <i class="bi bi-exclamation-circle"></i>
                                                This field is required
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <mat-label>Blood Group</mat-label>
                                        <div class="form-group">
                                            <select class="form-select" formControlName="blood_group">
                                                <option value="A+">A+ Ve</option>
                                                <option value="A-">A- Ve</option>
                                                <option value="B+">B+ Ve</option>
                                                <option value="B-">B- Ve</option>
                                                <option value="AB+">AB+ Ve</option>
                                                <option value="AB-">AB- Ve</option>
                                                <option value="O+">O+ Ve</option>
                                                <option value="O-">O+ Ve</option>

                                            </select>
                                            <small class="text-danger"
                                                *ngIf="profile.controls['blood_group'].touched && profile.controls['blood_group'].invalid">
                                                <i class="bi bi-exclamation-circle"></i>
                                                This field is required
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div>
                                    <mat-label>Address</mat-label>
                                    <div class="form-group">
                                        <input type="num" formControlName="Address" class="form-control" placeholder="">
                                        <small class="text-danger"
                                            *ngIf="profile.controls['Address'].touched && profile.controls['Address'].invalid">
                                            <i class="bi bi-exclamation-circle"></i>
                                            This field is required
                                        </small>
                                    </div>
                                </div> -->
                                 <div>
                                    <mat-label>Nationality</mat-label>
                                    <div class="form-group">
                                        <input type="num" formControlName="nationality" class="form-control" placeholder="">
                                        <small class="text-danger"
                                            *ngIf="profile.controls['nationality'].touched && profile.controls['nationality'].invalid">
                                            <i class="bi bi-exclamation-circle"></i>
                                            This field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <div class="profileright">
                                <div>
                                    <mat-label>Employee Code</mat-label>
                                    <div class="form-group">
                                        <input type="num" formControlName="employee_code" class="form-control"
                                            placeholder="">
                                        <small class="text-danger"
                                            *ngIf="profile.controls['employee_code'].touched && profile.controls['employee_code'].invalid">
                                            <i class="bi bi-exclamation-circle"></i>
                                            This field is required
                                        </small>
                                    </div>
                                </div>
                                <div>
                                    <mat-label>Skilled type</mat-label>
                                    <div class="form-group">
                                        <select type="text" formControlName="skilled_type" class="form-control"
                                            placeholder="">
                                            <option value="SKILLED">Skilled</option>
                                            <option value="SEMI-SKILLED">Semi-Skilled</option>
                                        </select>
                                        <small class="text-danger"
                                            *ngIf="profile.controls['skilled_type'].touched && profile.controls['skilled_type'].invalid">
                                            <i class="bi bi-exclamation-circle"></i>
                                            This field is required
                                        </small>
                                    </div>
                                </div>
                                <div>
                                    <mat-label>ISD code</mat-label>
                                    <div class="form-group">
                                        <input type="number" formControlName="isd_code" class="form-control"
                                            placeholder="">
                                        <small class="text-danger"
                                            *ngIf="profile.controls['isd_code'].touched && profile.controls['isd_code'].invalid">
                                            <i class="bi bi-exclamation-circle"></i>
                                            This field is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="checkbox" id="logingenerate"  value="Bike" formControlName="create_user">
                                <label class="logcheck" for="logingenerate"> Generate login</label><br>
                            </div>

                            <div class="profilesbtbtns">
                                <button mat-raised-button class="btn1" style="color:grey;background-color: none;"
                                    (click)="stepper.reset()">Cancel</button>
                                <button mat-raised-button class="btn1" style="color:white;background-color:red"
                                   (click)="profiledata()"  >Save&Continue</button>
                            </div>
                        </div>
                    </div>

                </form>
            </mat-step>
            <mat-step  >
                <form [formGroup]="Status">
                    <ng-template matStepLabel  >Status</ng-template>
                    <div class="row">
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="profileleft">
                                <mat-label>Date of joining</mat-label>
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="date_of_joining" placeholder="MM/DD/YYYY">
                                    <small class="text-danger"
                                        *ngIf="Status.controls['date_of_joining'].touched && Status.controls['date_of_joining'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Date of confirmation</mat-label>
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="confirmation_date" placeholder="MM/DD/YYYY">
                                    <small class="text-danger"
                                        *ngIf="Status.controls['confirmation_date'].touched && Status.controls['confirmation_date'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Date of resignation</mat-label>
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="date_of_resignation"placeholder="MM/DD/YYYY" >
                                    <small class="text-danger"
                                        *ngIf="Status.controls['date_of_resignation'].touched && Status.controls['date_of_resignation'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="statusright">
                                <mat-label>Employement type</mat-label>
                                <div class="form-group">
                                    <select class="form-select" formControlName="employment_type">
                                        <option value="INTERN">Intern</option>
                                        <option value="CONSULTANT"> Consultant </option>
                                        <option value="PERMANENT">Permanent</option>
                                        <option value="TRAINEE">Trainee</option>
                                        <option value="CONTRACTUAL">Contractual</option>
                                    </select>
                                    <small class="text-danger"
                                        *ngIf="Status.controls['employment_type'].touched && Status.controls['employment_type'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>

                                <mat-label>Employement status</mat-label>
                                <div class="form-group">
                                    <select class="form-select" formControlName="employment_status">
                                        <option value=" PROBATION">Probation</option>
                                        <option value="CONFIRMED">Confirmed</option>
                                        <option value="SETTLED">Settled</option>
                                        <option value="RESIGNED">Resigned</option>
                                    </select>
                                    <small class="text-danger"
                                        *ngIf="Status.controls['employment_status'].touched && Status.controls['employment_status'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Reliving Date</mat-label>
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="relieving_date" placeholder="MM/DD/YYYY">
                                    <small class="text-danger"
                                        *ngIf="Status.controls['relieving_date'].touched && Status.controls['relieving_date'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                            </div>
                            <div class="profilesbtbtns">    
                                <button mat-raised-button class="btn1" style="color:grey;background-color: none;"
                                    (click)="stepper.reset()" matStepperPrevious>Back</button>
                                <button mat-raised-button class="btn1" style="color:white;background-color:red"
                                  (click)="statusdata()" >Save&Continue    </button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step >
                <form [formGroup]="Position">
                    <ng-template matStepLabel  >Position</ng-template>
                    <div class="row">
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="positionleft">
                                <mat-label>Company name</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="company" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['company'].touched && Position.controls['company'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Department</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="department" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['department'].touched && Position.controls['department'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Sub department</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="sub_department" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['sub_department'].touched && Position.controls['sub_department'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Designation</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="designation" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['designation'].touched && Position.controls['designation'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Region</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="region" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['region'].touched && Position.controls['region'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Level</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="level" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['level'].touched && Position.controls['level'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="positionright">
                                <mat-label>Report manager</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="reporting_manager" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['reporting_manager'].touched && Position.controls['reporting_manager'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Functional manager</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="functional_manager" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['functional_manager'].touched && Position.controls['functional_manager'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Branch</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="branch" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['branch'].touched && Position.controls['branch'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Sub branch</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="sub_branch" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['sub_branch'].touched && Position.controls['sub_branch'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Grade</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="grade" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['grade'].touched && Position.controls['grade'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>
                                <mat-label>Business Unit</mat-label>
                                <div class="form-group">
                                    <input type="text" formControlName="business_unit" class="form-control" placeholder="">
                                    <small class="text-danger"
                                        *ngIf="Position.controls['business_unit'].touched && Position.controls['business_unit'].invalid">
                                        <i class="bi bi-exclamation-circle"></i>
                                        This field is required
                                    </small>
                                </div>

                            </div>
                            <div class="profilesbtbtns">
                                <button mat-raised-button class="btn1" style="color:grey;background-color: none;"
                                    (click)="stepper.reset()"matStepperPrevious>Back</button>
                                <button mat-raised-button class="btn1" style="color:white;background-color:red"
                                     (click)="positiondata()" >Save&Continue</button>
                            </div>
                        </div>
                    </div>

                </form>
            </mat-step>
            <mat-step  >
                <form [formGroup]="Document">
                    <ng-template matStepLabel  >Document</ng-template>
                    <div style="text-align:right ;">
                        <button mat-raised-button class="adddocbtn">
                            <mat-icon style="margin-top: -9px;">add</mat-icon><b>Add document</b>
                        </button>
                    </div>
                    <div class="row documentrow">
                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Adhar Card</p>
                            </div>
                               <input type="file" id="file" formControlName="adhar" >
                                <label for="file"  (change)="docupload($event)" ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp;PAN Card</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Educational Certificate</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; photo</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Address proof</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp;Employement Service letter
                                </p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Pay slips</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Bank Statemets</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>

                        </div>
                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Resume</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; KYC</p>
                            </div>
                            <input type="file" id="file" >
                                <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>

                        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 doc">
                            <div class="docitem1">
                                <img src="../../../../assets/images/tiksmall.png">
                            </div>
                            <div class="docitem2">
                                <img src="../../../../assets/images/pdfbig.png">
                                <p><img src="../../../../assets/images/pdfsmall.png">&nbsp; Appointment acceptance</p>
                            </div>
                            <input type="file" id="file" >
                               <label for="file"  (change)="docupload($event)"  ><img src="../../../../assets/images/upimg.png">&nbsp; Upload</label>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </form>
            </mat-step>

        </mat-horizontal-stepper>

    </div>
</div>