<div class="container-fluid">
<div class="item_1">
   <h1>Dashboard</h1>
</div>
<div class="row">
   <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-10 form-group">
         <select class="form-select">
             <option value="option">Employee Movement,Active employee</option>
         </select>
</div>
<div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-10 form-group">
      <select class="form-select">
          <option value="option">Monthly/year</option>
      </select>
</div>
</div>