<div class="container-fluid">
<div class="item_1">
   <h1>Dashboard</h1>
</div>
<div class="row">
   <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-10 form-group">
         <select class="form-select">
             <option value="option">Employee Movement,Active employee</option>
         </select>
</div>
<div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-10 form-group">
      <select class="form-select">
          <option value="option">Monthly/year</option>
      </select>
</div>
</div>

<div class="row charts1">
   <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
      <div class="item_2">
         <h2>Infant Attrition</h2>
         <app-infantattrition></app-infantattrition>
      </div>
   </div>
   <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12  " >
      <div class="item_3">
         <h2>Employee Status</h2>
               <app-esr class="relive"></app-esr>
               <app-esc class="confirm"></app-esc>
            <app-esp class="probation"></app-esp>
      </div>
   </div>
   <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 sub2">
      <div class="item_2 sub">
         <h2>Gender Ratio</h2>
         <app-genderratio></app-genderratio>
      </div>
   </div>
</div>

<div class="row charts2">
   <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12  ">
      <div class="item_4">
         <h2>Active Employee</h2>
         <app-activeemployee></app-activeemployee>
      </div>
   </div>
   <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
      <div class="item_4">
         <h2>Employee movement</h2>
         <app-employeemovement></app-employeemovement>
      </div>
   </div>
</div>

<div class="row charts3">
   <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 yearofjoining">
      <div class="item_4">
         <h2>Year of joining</h2>
         <app-yearofjoining></app-yearofjoining>
      </div>
   </div>
   <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 yearofrelieving">
      <div class="item_4">
         <h2>Year of reliving</h2>
         <app-yearofrelieving></app-yearofrelieving>
      </div>
   </div>
</div>
</div>